/*Esto es un comentario*/
body{
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: visible;
}

/*Header*/
header{
    background-color: rgba(0, 0, 0, 0.7);
    height: 80px;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

header img{
    width: 150px;
    height: auto;
    position: absolute;
    top: 13px;
    left: 20px;
}


/*Tabla menu*/
.menu{
    position: absolute;
    text-align: center;
    top: 200px;
    left: 600px;
}

.menu div{
    background-color: rgb(187, 77, 77);
    width: 200px;
    height: 200px;
    opacity: 1;
    transition: 0.3s ease-out;
}

.menu div img{
    width: 180px;
    height: auto;
    position: relative;
    top: 50px;
}

.menu div:hover{
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s ease-in;
}

.menu tr, td{
    padding: 20px;
}

.sep1{
    position: absolute;
    top: 130px;
    width: 1920px;
    border: none;
    height: 2px;
    background-color: rgb(180, 180, 180);
}

/*Barra de busqueda*/
.busqueda{
    position: absolute;
    left: 230px;
    top: 27px;
    width: 300px;
    height: 30px;
    outline: none;
    border-radius: 10px;
    border-color: black;
    border-width: 1px;
    text-indent: 15px;
    font-size: 15px;
}

/*Boton buscar*/
.B_buscar{
    position: absolute;
    left: 535px;
    top: 29px;
    width: 30px;
    height: 30px;
    font-size: 18px;
    border: none;
    background-color: transparent;
    outline: none;
}

.B_buscar:hover{
    color: lightgray;
    cursor: pointer;
}

/*Boton login*/
.login{
    position: absolute;
    right: 50px;
    top: 30px;
    font-size: 20px;
    border: none;
    background-color: transparent;
    outline: none;
    color: lightgray;
    transition: 0.3s ease-in;
    text-decoration: none;
}

.login:hover{
    color: white;
    cursor: pointer;
    transition: 0.3s ease-out;
}

main{
    height: 100%;
    margin-bottom: 265px;
    position: absolute;
}

/*Footer*/
footer{
    position: absolute;
    width: 101%;
    height: 80px;
    background-color: gray;
    top: 1200px;
    left: 0;
}

footer p{
    position: relative;
    float: left;
    left: 450px;
    margin-left: 20px;
    margin-right: 50px;
}