/*Varios elementos de este CSS se usan en varias paginas*/

/*fondo*/
body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    background-image: url('/Clima/images/inicio/fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
}

html{
    overflow: auto;
}

/*Para el contenedor transparente*/
.transp{
    position: absolute;
    background: rgba(255, 255, 255, 0.4);
    width: 1100px;
    height: 700px;
    top: 200px;
    left: 410px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    z-index: 10;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
}

/*seccion de datos*/
.datos{
    background: rgba(255, 255, 255, 1);
    position: absolute;
    width: 1100px;
    height: 100px;
    top: 100px; 
    left: 410px;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    z-index: 100;
}

/*Logo de clima*/
.datos img{
    position: relative;
    top: 20px;
    left: 465px;
}

#nombre{
    position: relative;
    top: -60px;
    left: 60px;
    color: rgb(0, 28, 91);
}

#grupo{
    position: relative;
    top: -65px;
    left: 60px;
    color: rgb(0, 28, 91);
}

.ob{
    position: relative;
    color: rgb(0, 28, 91);
    font-size: 30px;
}

/*Seccion del chat*/
.chat{
    position: fixed !important;
    width: 280px;
    height: 300px;
    background-color: gainsboro;
    right: 100px;
    bottom: 34px;
    z-index: 999;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    display: none;
    transition: 0.5s;
}

.areaEnvio{
    position: fixed;
    bottom: 0px;
    width: 270px;
    height: 34px;
    z-index: 1000;
}
/*Textarea para escribir mensaje*/
.mens{
    position: absolute;
    bottom: 0px;
    width: 230px;
    height: 30px;
    font-size: 13px;
    border: none;
    border-color: black;
    outline: none;
    resize: none;
}

/*boton para enviar mensaje*/
.enviar{
    position: absolute;
    bottom: 0px;
    right: -10px;
    width: 46px;
    height: 34px;
    border: none;
    background-color: rgb(37, 124, 238);
    cursor: pointer;
    outline: none;
    font-size: 25px;
}

.down{
    position: fixed;
    bottom: 334px;
    width: 280px;
    height: 60px;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: rgb(0, 28, 91);
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}

.up{
    position: fixed;
    bottom: 0px;
    right: 100px;
    width: 280px;
    height: 60px;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: rgb(0, 28, 91);
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    z-index: 200;
}

/*Menu hamburguesa para abrir (planes de intervencion)*/
.hambP{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    color: white;
    font-size: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    transition: 0.3s ease-out;
    transition: opacity 0.3s ease-in;
}

.hambP:hover{
    color: darkgrey;
    transition: 0.3s ease-in;
}

/*Menu hamburguesa para cerrar*/
.hambcerrarP{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    color: black;
    font-size: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    transition: 0.3s ease-out;
}

.hambcerrarP:hover{
    color: darkgrey;
    transition: 0.3s ease-in;
}

/*Menu hamburguesa para abrir (notas)*/
.hamb{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    color: white;
    font-size: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    transition: 0.3s ease-out;
    transition: opacity 0.3s ease-in;
}

.hamb:hover{
    color: darkgrey;
    transition: 0.3s ease-in;
}

/*Menu hamburguesa para cerrar*/
.hambcerrar{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    color: black;
    font-size: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    transition: 0.3s ease-out;
}

.hambcerrar:hover{
    color: darkgrey;
    transition: 0.3s ease-in;
}

/*boton de configuracion*/
.settings{
    position: absolute;
    top: 22px;
    right: 70px;
    width: 60px;
    height: 60px;
    color: black;
    font-size: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    transition: 0.3s ease-out;
}

.settings:hover{
    color: darkgrey;
    transition: 0.3s ease-in;
}

/*Menu planes*/
.menuP{
    height: 94%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7);
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    text-align: center;
    overflow-y: auto;
}

/*h1 notas*/
.menuP h1{
    position: absolute;
    color: rgb(0, 28, 91);
    left: 90px;
    text-align: center;
    width: 200px;
    top: 75px;
}

/*Menu notas*/
.menu{
    height: 94%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    text-align: center;
    overflow-y: auto;
}

/*h1 notas*/
.menu h1{
    position: absolute;
    color: rgb(0, 28, 91);
    left: 120px;
    top: 90px;
}

.datos input[type='submit']{
    position: absolute;
    top: 31px;
    right: 150px;
    border: none;
    background-color: rgba(0, 28, 91, 1);
    color: white;
    font-size: 13px;
    font-weight: bold;
    border-radius: 15px;
    width: 115px;
    height: 40px;
    outline: none;
}

.datos input[type='submit']:hover{
    background-color: rgba(0, 28, 91, 0.8);
    cursor: pointer;
}

/*SCROLLBAR de transp*/
/* width */
.transp::-webkit-scrollbar {
    width: 7px;
  }
  
/* Track */
.transp::-webkit-scrollbar-track {
    background-color: transparent
}

/* Handle */
.transp::-webkit-scrollbar-thumb {
background-color: rgba(0, 28, 91, 1); 
border-radius: 5px;
}

/* Handle on hover */
.transp::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 28, 91, 0.7);
}

.transp::-webkit-scrollbar-track-piece {
    margin-bottom: 50px;
}




  /*SCROLLBAR de obser*/
/* width */
.obser::-webkit-scrollbar {
    width: 7px;
  }
  
/* Track */
.obser::-webkit-scrollbar-track {
    background-color: transparent
}

/* Handle */
.obser::-webkit-scrollbar-thumb {
background-color: rgba(0, 28, 91, 1); 
border-radius: 5px;
}

/* Handle on hover */
.obser::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 28, 91, 0.7);
}

.obser::-webkit-scrollbar-track-piece {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*SCROLLBAR de chat*/
/* width */
.chat::-webkit-scrollbar {
    width: 7px;
  }
  
/* Track */
.chat::-webkit-scrollbar-track {
    background-color: transparent
}

/* Handle */
.chat::-webkit-scrollbar-thumb {
background-color: rgba(0, 28, 91, 1); 
border-radius: 5px;
}

/* Handle on hover */
.chat::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 28, 91, 0.7);
}

/*Popup para agregar alumno*/
.popupA{
    position: absolute;
    text-align: center;
    width: 700px;
    height: 500px;
    border-radius: 20px;
    background-color: rgb(230, 230, 230);
    left: 600px;
    top: 200px;
}

#agregaA h4{
    position: relative;
    text-align: left;
    left: 40px;
    top: 30px;
    padding: 10px;
    margin: 0px;
}

#agregaPa h4{
    position: relative;
    text-align: left;
    left: 40px;
    top: 30px;
    padding: 10px;
    margin: 0px;
}

#agregaTer h4{
    position: relative;
    text-align: left;
    left: 40px;
    top: 30px;
    padding: 10px;
    margin: 0px;
}

#moveA h4{
    position: relative;
    top: 30px;
    padding: 10px;
    margin: 0px;
}

.popupA h2{
    position: relative;
    color: rgb(0, 28, 91);
}

.popupA input[type='text']{
    position: relative;
    left: 0px;
    top: -5px;
    height: 30px;
    width: 170px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 17px;
    text-indent: 10px;
}

/*POP-UP para cambiar contraseña*/
.backPop{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    display: none;
}

.popup{
    position: absolute;
    text-align: center;
    width: 700px;
    height: 400px;
    border-radius: 20px;
    background-color: rgb(230, 230, 230);
    left: 600px;
    top: 200px;
}

#cambiar h4{
    position: relative;
    text-align: left;
}

.popup h2{
    position: relative;
    color: rgb(0, 28, 91);
}

.popup h4{
    position: relative;
   /* text-align: left;
    left: 20px;*/
}

#edit h4{
    text-align: left;
}

#add h4{
    text-align: left;
}
/*Boton para cerrar popup*/
.salir{
    position: absolute;
    top: 0px;
    right: 20px;
    width: 40px;
    height: 40px;
    color: black;
    font-size: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.actual{
    position: relative;
    left: 20px;
    top: 30px;
}

.PActual{
    position: relative;
    left: 0px;
    top: -15px;
    height: 30px;
    width: 170px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 17px;
    text-indent: 10px;
}

.nueva{
    position: relative;
    left: 20px;
    top: 20px;
}

.PNueva{
    position: relative;
    left: 0px;
    top: -25px;
    height: 30px;
    width: 170px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 17px;
    text-indent: 10px;
}

.nueva2{
    position: relative;
    left: 20px;
}

.PNueva2{
    position: relative;
    left: 0px;
    top: -45px;
    height: 30px;
    width: 170px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 17px;
    text-indent: 10px;
}

.cambiar{
    position: absolute;
    border: none;
    background-color: rgba(0, 28, 91, 1);
    color: white;
    height: 30px;
    width: 180px;
    bottom: 20px;
    left: 260px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}

.cambiar:hover{
    background-color: rgba(0, 28, 91, 0.8); 
}

/*Div para el gurpo*/
.group{
    position: absolute;
    background-color: white;
    width: 600px;
    height: 500px;
    left: 250px;
    top: 100px;
    border-radius: 40px;
    overflow-x: hidden;
    overflow-y: auto;
}


/*SCROLLBAR de seccion group*/
/* width */
.group::-webkit-scrollbar {
    width: 7px;
}
  
/* Track */
.group::-webkit-scrollbar-track {
    background-color: transparent
}

/* Handle */
.group::-webkit-scrollbar-thumb {
    background-color: rgba(0, 28, 91, 1); 
    border-radius: 5px;
}

/* Handle on hover */
.group::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 28, 91, 0.7);
}

.group::-webkit-scrollbar-track-piece {
    margin-top: 20px;
    margin-bottom: 20px;
}


/*textarea de observaciones*/
.escribirObs{
    position: relative;
    width: 510px;
    height: 110px;
    border: none;
    outline: none;
    resize: none;
    border-radius: 30px;
    margin-top: 20px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/*SCROLLBAR de textarea para publicar observacion*/
/* width */
.escribirObs::-webkit-scrollbar {
    width: 7px;
}
  
/* Track */
.escribirObs::-webkit-scrollbar-track {
    background-color: transparent
}

/* Handle */
.escribirObs::-webkit-scrollbar-thumb {
    background-color: rgba(0, 28, 91, 1); 
    border-radius: 5px;
}

/* Handle on hover */
.escribirObs::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 28, 91, 0.7);
}

/*Boton para publicar observacion*/
.pubob{
    position: relative;
    margin-top: 10px;
    left: 200px;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    background-color: rgb(0, 28, 91, 1);
    outline: none;
    
}

.pubob:hover{
    background-color: rgb(0, 28, 91, 0.8);
    cursor: pointer;
}

.agregaN{
    position: absolute;
    right: 50px;
    top: 92px;
    width: 60px;
    height: 60px;
    color: black;
    font-size: 45px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    transition: 0.3s ease-out;
}

.agregaN:hover{
    color: darkgrey;
    transition: 0.3s ease-in;
}

.agregaP{
    position: absolute;
    left: 50px;
    top: 92px;
    width: 60px;
    height: 60px;
    color: black;
    font-size: 45px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    transition: 0.3s ease-out;
}

.agregaP:hover{
    color: darkgrey;
    transition: 0.3s ease-in;
}

.select{
    position: relative;
    top: 50px;
}
.labelS{
    position: relative;
    top: 50px;
}

/*SCROLLBAR de menu desplegable notas*/
/* width */
.menu::-webkit-scrollbar {
    width: 7px;
  }
  
/* Track */
.menu::-webkit-scrollbar-track {
    background-color: transparent
}

/* Handle */
.menu::-webkit-scrollbar-thumb {
    background-color: rgba(0, 28, 91, 1); 
    border-radius: 5px;
}

/* Handle on hover */
.menu::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 28, 91, 0.7);
}

/*SCROLLBAR de menu desplegable planes*/
/* width */
.menuP::-webkit-scrollbar {
    width: 8px;
    direction: rtl;
  }
  
/* Track */
.menuP::-webkit-scrollbar-track {
    background-color: transparent
}

/* Handle */
.menuP::-webkit-scrollbar-thumb {
    background-color: rgba(0, 28, 91, 1); 
    border-radius: 5px;
}

/* Handle on hover */
.menuP::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 28, 91, 0.7);
}

/*Boton home*/
.home{
    position: absolute;
    top: 22px;
    right: 300px;
    width: 60px;
    height: 60px;
    color: black;
    font-size: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    transition: 0.3s ease-out;
}

.home:hover{
    color: darkgrey;
    transition: 0.3s ease-in;
}

/*Boton para agregar grupos*/
.add{
    position: absolute;
    bottom: 30px;
    left: 485px;
    color: white;
    font-weight: bold;
    background-color: rgba(0, 28, 91, 1);
    border: none;
    outline: none;
    border-radius: 20px;
    height: 40px;
    width: 130px;
}

.add:hover{
    cursor: pointer;
    background-color: rgba(0, 28, 91, 0.8);
}

/*Caja de tecto de grupo*/
.grupis{
    position: relative;
    left: 0px;
    top: -15px;
    height: 30px;
    width: 170px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 17px;
    text-indent: 10px;
}

/*Lista de tipo de grupos*/
.lista_U{
    position: relative;
    width: 255px;
    height: 45px;
    top: 60px;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    text-indent: 15px;
    outline: none;
}